// Mixing
@mixin flexbox($jusC, $aliI) {
    display: flex;
    flex-direction: column;
    $jusC: $jusC;
    align-items: $aliI;
}

// Crypto image mixing code
@mixin cryp {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

// Inner Crypto image mixin code
@mixin eye {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

// In imageBox class span tag Mixin code
@mixin span {
    font-size: 15px;
    font-weight: bold;
    color: hsl(178, 100%, 50%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

// Main Card mixing code
@mixin card {
    width: 300px;
    margin: auto;
    padding: 22px;
    background-color:  hsl(216, 50%, 16%);
    border-radius: 3.5%;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
    transform: scale(0.9);
}

// Image Box mixing code
@mixin imgBox{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 3%;
}

// Inner Card Content h1 tag Mixing code
@mixin contentH1 {
    font-size: 1.3rem;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

// Inner Card Content P tag Mixing code
@mixin contentP {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

// Inner Card Content icon container  Mixing code
@mixin contentIcon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
    padding-bottom: 13px;
}

// View container mixing code
@mixin views {
    display: flex;
    flex-direction: row; 
    padding: 9px;
    color: white;
}

// Inner view container view1 image mixing code
@mixin view1 {
    width: 10%;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 50%;
}

// Inner view containe span tag mixing code
@mixin span3 {
    font-size: 16px;
    padding-top: 6px;
    color: hsl(215, 51%, 70%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

// Footer tag mixing code
@mixin footer {
    padding: 15px;
    margin: 15px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}