// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Outfit', sans-serif;

// Partials File
@import "_mixing";
@import "_variables";

// Main SASS Coding 
body{
    margin: 90px auto;
    background-color: hsl(217, 54%, 11%);
}
main{
    @include card;
}
.content{
    display: flex;
    flex-direction: column;
}
.imageBox{
    @include imgBox;
}
.crypto{
    @include cryp;
}
.eth{
    @include eye;
}
.viewEye{
    @include flexbox(center, center);
    background: hsla(178, 100%, 50%, 0.8);  
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
.eye{
    width: 15%;
    height: 15%;
    margin-top: 8rem;
    border-radius: 3%;
}
h1{
    @include contentH1;
    &:hover{
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
    &:focus-visible{
        opacity: 0.2;
    }
}
p{
    @include contentP;
}
.icon{
    @include contentIcon;
}
.span1{
    @include span;
}
.img1{
    margin-right: 8px;
}

.span2{
    @include span;
    font-weight: normal;
    color: hsl(215, 51%, 70%);
}
.img2{
    margin-right: 8px;
}

.div1{
    margin-left: 22px;
    margin-top: -22px;
}
.line{
    width: 95%;
    color: hsl(215, 32%, 27%);
}
.views{
    @include views;
}
.view1{
    @include view1;
}
.span3{
    @include span3;
}
.span4{
    color: white;
    &:hover{
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
    &:focus-visible{
        opacity: 0.5;
    }
}
footer{
    @include footer;
}
.contact{
    color: orange;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: coral;
    }
    &:focus-visible{
        opacity: 0.6;
    }
}
//This small code make your web Page responsive 
@media screen and (max-width: 1500px) {
    body{
        width: auto;
    }
}
@media  all and (max-width: 555px) {
    footer{
        line-height: 1.9;
    }
}
@media all and (max-width: 370px) {
    body{
        margin: 15px auto;
        transform : scale(0.81);
        transition: 0.3s;
    }
}